
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    width:3000vw; /* Bien sûr, plus on a de section ensuite, plus il faut agrandir cette valeur */
    overflow-y: hidden;
    background: white;
}
.grand {
    font-size: 8vh;
}
section {
    position: relative;
    float: left;
    width:90vw;
    height:100vh;
    word-break: normal;
}

.container {
    margin: 0 auto 50px auto;
    width:95%;
}

a {
    text-decoration: none;
    color: #183BBF;
    background: #D4D2D2;
    padding: 0 3px;
}

a:hover {
    background: #183BBF;
    color: #fff;
}


/*------------------------------------------------*/


body {
    color: black;
    font-size: 62.5%;
    font-family: Helvetica;
  }
  
  .animation-box {
    width: 100%;
    height: 50rem;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .animation-container {
    width: 1000rem;
    height: 3rem;
  }
  
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes bottomFadeOut {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  
  @keyframes topFadeOutVertical {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 45%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      right: 10rem;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      right: 10rem;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }
  
  .first-text {
    
    font-size: 3rem;
    position: absolute;
    left: 6rem;
    top: 5rem;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 4s;
    color: #111111;
  }
  
  .second-text {
    font-size: 3.4rem;
    position: absolute;
    top: 8.5rem;
    opacity: 0;
    animation-name: rightFadeInOut;
    animation-delay: 3s;
    animation-duration: 6s;
    color: #111111;
  }
  
  .third-text {
    transform: rotate(-90deg);
    font-size: 2rem;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0;
    animation-name: topFadeOutVertical;
    animation-delay: 7.5s;
    animation-duration: 6s;
    color: #111111;
    white-space: nowrap;
  }
  
  .fourth-text {
    font-size: 3.4rem;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: #111111;
    animation-name: fadeInOut;
    animation-delay: 8.5s;
    animation-duration: 9s;
  }
  
  .fifth-text {
    font-size: 5rem;
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    color: #111111;
    animation-name: bottomFadeOut;
    animation-delay: 10s;
    animation-duration: 9s;
  }



/*-----------------------------------------------------------*/


.grid-container {
    display: grid;
    grid-gap: 1px;
    background-color: white;
    height: 100vh;
}

.grid-item {
    background-color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    font-size: 30px;
}

.item-a {   
    font-size: 6em;
    overflow-y: scroll;
}


.item-c {
    background-color: black;
    color: white;
    grid-column: 2;
    grid-row: 2;
    font-size: 2.5em;
    overflow-y: hidden;
}

.item-i {
    background-color: black;
    color: white;
    font-size: 20em;
    overflow-y: scroll;
}


/*------------------------------------------------*/


.skewed {
    width:75%;
    height:auto;
    margin:100px auto;
    text-align: left;
    display: inline-block;
    font-size: 9em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10%;
    }
    a {
    transition :color 1s;
    }  
    
    .s1
    {
    color : white;
    
    }
    .s1:hover
    {
    color : black;
    }
    
    a span.s1bis
    {
    color : black;
    font-size: 1.3em;
    }
    
    
    .disparait{
        color:white;
    }
    
    .motclef{
    font-size: 1.3em;
    }
    #motclef1{
        cursor: pointer;
    }
    .visible{
    color :black;
    }


/*-----------------------------------------------------------*/

#section-intro {
    

    background: white;
    width:95vw;
    overflow-y: hidden;
}
#section-1 {
   

    background: black;
    width: 760vw;
    background-size: cover;
    overflow: hidden;


}
#section-2 {
    background:white;
    width:90vw;
    overflow: hidden;
}
#section-3 {
    background: black;
    width:95vw;
    overflow-y: scroll;
}
#section-4 {
    overflow: scroll;
    
}

#section-5 {
   


    width: 150vw;
    background-size: cover;
    overflow: hidden;

}  

#section-6 {
    overflow: scroll;
    background: black;
    
}


#section-back {
    overflow: hidden;
    background: white;
    text-align: center;
    width:10vw;
}


/*-------------------------------------------------------------*/



#section-intro h1, #section-4 h1 {
    font-size: 10em;
    color: #fff;
}


h3 {
    font-size: 10em;
    
    color: white;
}


h4 {
    font-size: 7em;
    color: white;
    writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
    
}

h5 {
    font-size: 9em;
    
    color: black;
}




#back {
    display:block;
    font-size: 2em;
    text-align: center;
    padding: 2vh 0;
}




